#main_slide, .carousel-inner, .item {
	height: 100%;
}
#main_slide .caption {
	position: absolute;
	right: 20px;
	bottom: 15px;
	color: #fff;
}
#main_slide .item img {
	width: 100%;
	height: auto;
	position: absolute;
	
}
#main_slide .caption .title {
	font-weight: 900;
	font-size: 12px;
	line-height: 1.6em;
	text-rendering: geometricPrecision;
}
#main_slide .carousel-control {
	width: 4%;
	cursor: ew-resize;
	background: none;
	z-index: 200;
}

.main .row {
	position: relative;
	height: 540px;
}
.main .fixed-text {
	font-family: Gotham SSm,sans-serif;
	position: absolute;
	top:25%;
	left: 40px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 5px;
	transition: color .3s;
	
}
.main .fixed-text .bottom {
	text-transform: none;
	line-height: 50px;
	letter-spacing: 0.5px;
	opacity: .7;
	font-weight: 400;
}
.main .fixed-text .button {
	font-family: Gotham SSm,sans-serif;
	display: inline-block;
	min-width: 150px;
	height: 40px;
	color: #000;
	text-align: center;
	line-height: 40px;
	background: #fff;
	font-weight: 500;
	font-size: 11px;
	letter-spacing: 1px;
	transition: color .3s;
	z-index: 200;
}
.main .fixed-text .top {
	letter-spacing: .2em;
	font-size: 9px;
	opacity: .7;
}
.main .fixed-text h1 {
	letter-spacing: .4em;
	font-weight: 600;
	font-size: 2.1em;
	line-height: 45px;
}
.main .white-bg {
	color: #000;
}
.main .white-bg .button {
	color: #fff;
	background: #000;
}


.main .fade-block {
	position: absolute;
	top:0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all .5s;
	visibility: hidden;
}
.main .show {
	opacity: 1;
	visibility: visible;
}
.main .fade-block .introduce {
	position:absolute;
	bottom: 13px;
	left: 40px;
	color: #fff;
	height: 25px;
	line-height: 25px;
	letter-spacing: .2em;
	text-transform: uppercase;
	transition: all .4s;
	margin: 0;
}
.main .fade-block .introduce span:before {
	position: absolute;
	bottom: -3px;
	height: 25px;
	width: 25px;
	font-size: 25px;
}
.main .fade-block .video {
	position: absolute;
	top: 25%;
	right: 30px;
	display: block;
	width: 380px;
}
.main .fade-block .pannel {
	width: 100%;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: #1f232c;
	color: #fff;
	padding-left: 6px;
	height: 20px;
	transition: all .3s;
}
.main .fade-block .white-pannel {
	background-color: #fff;
	color: #1f232c;
}
.main .fade-block .play-icon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 50%;
	background-size: 15px;
	width: 80px;
	height: 80px;
	background-image: url(../../img/arrow-right-black.svg);
	background-repeat: no-repeat;
	background-color: #fff;
	background-position: 50%;
	opacity: 0;
	transition: opacity .4s cubic-bezier(.694,.0482,.335,1);
}
.main .fade-block .video:hover .play-icon {
	opacity: 1;
}